.upload_box {
    min-height: 140px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.upl_thumbnail {
    text-align: center;
    vertical-align: middle;    
    display: inline;
    height: 100%;
    width: 100%;
    /*padding: 10px 10px 10px 10px;*/

}
.uploader_label {
    border: dashed 2px #A9A9A9;
    box-sizing: content-box;    
    vertical-align: middle;
    align-content:  flex-start;
    cursor: pointer;
    display:  inline-block;
    height: 100%;
    width: 100%;
    min-height: 140px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.spanDiv {
    padding : 50px;
}


.image_preview img {    
    max-height: 100px;
    padding: 10px;
    overflow-y: auto;  

}
.upload_buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}

.imgBox {
  min-height: 120px;  
}

.media-object {
    max-height: 200px;
} 